In [385]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait, Select
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import pandas as pd
import numpy as np
import time

In [386]:
path = r'C:\Users\ken25\OneDrive\Desktop\01_Python\web_scrabling\chromedriver.exe'
service = Service(path)

driver = webdriver.Chrome(service=service)

In [387]:
driver.get('https://www.settrade.com/th/equities/quote/TOP/historical-trading')

In [388]:

driver.execute_script("window.scrollBy(0, 1100)")

time.sleep(5)
elements = WebDriverWait(driver, 10).until(EC.presence_of_all_elements_located((By.CLASS_NAME, "multiselect__tags")))
elements[1].click()

time.sleep(2)
elements = WebDriverWait(driver, 10).until(EC.presence_of_all_elements_located((By.CLASS_NAME, "multiselect__element")))
elements[6].click()

In [389]:
data = driver.page_source
data_df = pd.read_html(data)[1]
clean_column = []
for c in data_df.columns:
    clean_column.append(c.replace('  (Click to sort Ascending)',''))

data_df.columns = clean_column
data_df

C:\Users\ken25\AppData\Local\Temp\ipykernel_17468\1407993175.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data_df = pd.read_html(data)[1]

,วันที่,ราคาเปิด,ราคาสูงสุด,ราคาต่ำสุด,ราคาเฉลี่ย,ราคาปิด,เปลี่ยนแปลง,เปลี่ยนแปลง (%),ปริมาณ ('000 หุ้น),มูลค่า (ล้านบาท),SET Index,เปลี่ยนแปลง (%).1
0,5 ก.ค. 2567,55.25,56.00,55.00,55.53,55.75,0.75,1.36,5727.99,318.06,1311.99,0.84
1,4 ก.ค. 2567,56.00,56.25,54.75,55.28,55.00,-0.50,-0.90,6399.63,353.77,1301.04,0.49
2,3 ก.ค. 2567,54.00,55.50,54.00,54.90,55.50,1.00,1.83,8620.32,473.29,1294.70,0.47
3,2 ก.ค. 2567,54.50,55.00,54.00,54.45,54.50,0.50,0.93,7239.10,394.18,1288.58,-0.83
4,1 ก.ค. 2567,53.00,54.25,53.00,53.90,54.00,1.00,1.89,7007.96,377.74,1299.35,-0.12
...,...,...,...,...,...,...,...,...,...,...,...,...
116,12 ม.ค. 2567,53.00,53.25,50.75,51.62,51.75,-1.25,-2.36,16403.67,844.53,1413.53,0.38
117,11 ม.ค. 2567,53.50,53.50,52.50,53.03,53.00,-0.25,-0.47,2488.65,131.98,1408.24,-0.37
118,10 ม.ค. 2567,52.25,53.50,52.25,52.94,53.25,0.75,1.43,4478.42,237.09,1413.52,-0.10
119,9 ม.ค. 2567,52.50,53.25,52.00,52.70,52.50,0.00,0.00,4378.04,230.74,1414.93,-0.25
120,8 ม.ค. 2567,53.75,53.75,52.50,52.77,52.50,-1.25,-2.33,6473.77,341.64,1418.45,-0.67

In [390]:
data_df['วันที่']

0       5 ก.ค. 2567
1       4 ก.ค. 2567
2       3 ก.ค. 2567
3       2 ก.ค. 2567
4       1 ก.ค. 2567
           ...
116    12 ม.ค. 2567
117    11 ม.ค. 2567
118    10 ม.ค. 2567
119     9 ม.ค. 2567
120     8 ม.ค. 2567
Name: วันที่, Length: 121, dtype: object

In [392]:
data_df = data_df.set_index('วันที่')

In [395]:
data_df.loc[['8 ม.ค. 2567','31 ม.ค. 2567','29 ก.พ. 2567','29 มี.ค. 2567','30 เม.ย. 2567','31 พ.ค. 2567','28 มิ.ย. 2567'],['ราคาปิด']]

               ราคาปิด
วันที่
8 ม.ค. 2567      52.50
31 ม.ค. 2567     54.75
29 ก.พ. 2567     56.00
29 มี.ค. 2567    59.50
30 เม.ย. 2567    54.50
31 พ.ค. 2567     51.75
28 มิ.ย. 2567    53.00